extends layouts/base
block header
  if production
    link(rel='stylesheet', href='/build/home.min.css', type='text/css')
    script(type='text/javascript', src='/build/website.min.js')
  else
    link(rel='stylesheet', href='/css/home.css', type='text/css')
    script(type='text/javascript', src='/build/website.js')
  script(src='https://use.typekit.net/ffp2bkd.js')
  script.
    try{Typekit.load({ async: true });}catch(e){}
block content
  #gradient
  #asteroids
    .topleft
    .bottomright
  #window.loading
    #hme.section
      .bg
      .logo
      .bottom
        .centering
          .information
            h1 survive today to fight for tomorrow
            p play mobius dimension now!
          a.play(href='http://play.' + host) play now
          a.button(href='#about')
            svg(viewBox='0 0 200 200', alt='play now')
              circle(cx='100', cy='100', r='90', fill='none', stroke-width='8', stroke='#fff')
              polygon(points='70, 145 145, 100 70, 55', transform='translate(200, 0) rotate(90)', fill='none', stroke-width='8', stroke='#fff')
    #abt.section
      .symbol
      .title about
      .description.centering
        .column
          .ships
            .ship
              img.centering(data-src='/imgs/game/ships/ubaidian/ubaidian-x01.png')
            .ship
              img.centering(data-src='/imgs/game/ships/ubaidian/ubaidian-x02.png')
            .ship
              img.centering(data-src='/imgs/game/ships/ubaidian/ubaidian-x03.png')
            .ship
              img.centering(data-src='/imgs/game/ships/ubaidian/ubaidian-x04.png')
            .ship
              img.centering(data-src='/imgs/game/ships/hederaa/hederaa-x01.png')
            .ship
              img.centering(data-src='/imgs/game/ships/general/general-x01.png')
            .ship
              img.centering(data-src='/imgs/game/ships/general/general-x02.png')
            .ship
              img.centering(data-src='/imgs/game/ships/mechan/mechan-x01.png')
            .ship
              img.centering(data-src='/imgs/game/ships/mechan/mechan-x02.png')
            .ship
              img.centering(data-src='/imgs/game/ships/mechan/mechan-x03.png')
        .column
          h2 gameplay
          p Mobius Dimension is a multiplayer top-down strategy space game featuring a sandbox universe, real-time battles, and soon crafting and base building
          .nomobile
            h2 features
            ul.features
              li Pilot customizable ships in a galaxy populated by both players and A.I. controlled units
              li Guide your ships through the galaxy exploring both curated and procedurally generated star systems, moons, planets, asteroids, and singularities
              li Colonize locations as you see fit to expand your influence across the stars
              li Mine ores, refine fuels, trade resources; or simply pirate and plunder what you need
              li Maintain a small squadron of support ships that follow your commands
    #rac.section
      .ubaidian.slide
        .symbol
        .title ubadians
        .character.right
        .description.centering
          h2 The Ubadian Empire
          p Ubadia Major
      .hederaa.slide
        .symbol
        .title heder'aa
        .character.right
        .description.centering
          h2 Heder’aa Collective
          p O&rsquo;thra Baha&rsquo;i
      .mechan.slide
        .symbol
        .title mechan
        .character.right
        .description.centering
          h2 Mechan Alliance
          p Thuul Novus
    #prordr.section
      .symbol
      .platforms
        .logos
      .description.centering
        .column
          .content
            .box
              h2 Lieutenant
                small Edition
              h3 $30.00
                sup USD
              ul
                li
                  strong beta access
                li full game
                li soundtrack
                li forum badge
                li credits mention
                li &nbsp;
                li &nbsp;
                li &nbsp;
                li.button
                  a.buy(href='') n/a
        .column
          .content
            .box
              .ribbon
                span play now
              h2 Commander
                small Edition
              h3 $40.00
                sup USD
              ul
                li
                  strong alpha access
                li
                  strong beta access
                li
                  strong full game HD
                li soundtrack
                li forum badge
                li credits mention
                li &nbsp;
                li &nbsp;
                li.button
                  a.buy(href='') n/a
        .column
          .content
            .box
              .ribbon
                span play now
              h2 Captain
                small Edition
              h3 $50.00
                sup USD
              ul
                li
                  strong alpha access
                li
                  strong beta access
                li
                  strong full game HD
                li soundtrack
                li digital art book
                li name a planet
                li forum badge
                li credits mention
                li.button
                  a.buy(href='') n/a
  #logo
  ul#navigation
    li.home.active(data-menuanchor='home')
      a(href='#home') home
    li.about(data-menuanchor='about')
      a(href='#about') about
    li.races(data-menuanchor='races')
      a(href='#races') races
    li.preorder(data-menuanchor='preorder')
      a(href='#preorder') preorder
    li.mini
      a(href='http://forums.' + host) forums
      a(href='http://play.' + host) play now
    li.menu
  #mobilenavigation.mfp-hide
    ul.centering
      li.about
        a(href='#about') about
      li.races
        a(href='#races') races
      li.forums
        a(href='http://forums.' + host) forums
  #share
    div.addthis_sharing_toolbox
  script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a62c45de01e0650')
  //- script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56dfd2143450558f')
