extends layouts/base
block content
  #content
    .dialog
      .box
        h1 watch on youtube
        a(href='https://www.youtube.com/watch?v=3mURrVKerHg')
          img(src='/imgs/game/play.png')
        #dialog

  //- script(type='text/javascript', src='/build/pixi.js')
  //- script(type='text/javascript', src='/build/engine.js')
  //- script(type='text/javascript', src='/build/solar.js')

  script(type='text/javascript', src='/build/app.min.js')
  