extends layouts/base
block content
  #content
    .dialog
      .box.centering
        h1 watch on youtube
        a(href='https://www.youtube.com/watch?v=3mURrVKerHg')
          img(src='/imgs/game/play.png')
        div(id='dialog')
    if !user
      .modal(id='registration-login')
        .box.centering
          .register(id='registration-start')
            h1 player registration
            h2 welcome to the universe
            p username:
            .input
              input(type='text', id='registration-username')
            p e-mail:
            .input
              input(type='text', id='registration-email')
            p password:
            .input
              input(type='password', id='registration-pass1')
            p re-enter password:
            .input
              input(type='password', id='registration-pass2')
            .error(id='registration-error')
            .buttons
              button(type='button', id='registration-submit') Complete Registration
              button(type='button', id='registration-cancel') Cancel
          .completed(id='registration-done')
            h1 registration completed
            h2 you will recieve further instructions once testing begins!
            .splash
            .buttons
              button(type='button', id='registration-cancel') Done
  if production
    script(type='text/javascript', src='/build/app.min.js')
  else
    script(type='text/javascript', src='/build/pixi.js')
    script(type='text/javascript', src='/build/xhr.js')
    script(type='text/javascript', src='/build/socket.js')
    script(type='text/javascript', src='/build/engine.js')
    script(type='text/javascript', src='/build/solar.js')

block tracking
  script(type='text/javascript').
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//neutrino84.piwikpro.com/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 5]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  noscript
    p
      img(src='//neutrino84.piwikpro.com/piwik.php?idsite=5', style='border:0;', alt='')
  