* { margin: 0; padding: 0; }

html { font-size: 62.5%; }

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #666;
  background: #000;
}

/*
 * General Styles
 */
#content {
  height: 100%;
  width: 100%;
  background: url('../imgs/game/solarcrusaders.jpg') center center no-repeat;
}

#content.error { background: none; }

/*
 * Share Buttons Styles
 */
.share {
  position: absolute;
  left: 50%;
  top: 0;
  display: none;
}

.share .box {
  position: relative;
  top: 2px;
  left: -116px;
  width: 232px;
  height: 28px;
}

.share .box .facebook {
  float: left;
  width: 122px;
  height: 24px;
}

.share .box .twitter {
  float: left;
  width: 81px;
  height: 20px;
  margin: 4px 0 0 4px;
}

/*
 * Dialog Redirect
 */
.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
}

.dialog .box {
  position: relative;
  left: -128px;
  top: -64px;
  width: 276px;
  height: 128px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
}

.dialog .box img {
  position: absolute;
  right: 15px;
  top: 15px;
}

.dialog .box h1 {
  color: #fff;
  padding: 30px 15px 15px 15px;
  font-size: 1.4rem;
  font-weight: bold;
}

#dialog {
  padding: 15px 15px 0 15px;
  color: #aaa;
  font-size: 1.2rem;
}

/*
 * Display Flags
 */
#content.error .dialog { display: block; }
#content.running .share { display: block; }

/*
 * Mobile
 */
@media screen and (max-width: 500px) {
  #content {
    background-size: 94% auto;
  }
}
